/* UserManagement.css */
.user-management {
    background-color: transparent;
    min-height: calc(100vh - 100px);
}

.action-icon {
    transition: all 0.2s;
}

.action-icon:hover {
    transform: scale(1.1);
}
